.introStyle{
    position: relative;
    top: 0;
    left: 0;   
    min-height: 400px;
}

.introStyle .introLeftButton{
    position: absolute;
    top:50%;
    left: -90px;   
    transform: translateY(-50%); 
}

.introStyle .introRightButton{
    position: absolute;
    top:50%;
    right: -90px;   
    transform: translateY(-50%); 
}

.introStyle .introLeftButton p,
.introStyle .introRightButton p{
    cursor: pointer;
    font-size: 64px;
}

.introStyle .imgContainer{
    max-width:900px;
    margin: 0 auto;
    overflow: hidden;
}

.introStyle .imgContainer .imgIntroSlider {
    display:flex;
    position: relative;
    top:0;
    left:0;
  
}

.introStyle .imgContainer .imgIntroSlider.posLeft {
    position: relative;
    top:0;
    left: 0px;   
    transition: 1s;
}
.introStyle .imgContainer .imgIntroSlider.posmidt {

    position: relative;
    top:0;
    left: -900px;   
    transition: 1s;
}
.introStyle .imgContainer .imgIntroSlider.posright {

    position: relative;
    top:0;
    left: -1800px;   
    transition: 1s;
}

.introStyle .introImgDots {
    display: flex;

    position: absolute;
    top:90%;
    left:50%;
    transform: translateX(-50%);
}

.introStyle .introImgDots .chosenImgIntroDot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin:15px;

    background-color: gray;

    cursor: pointer;
}


.introStyle .introImgDots .chosenImgIntroDot:nth-child(1).posLeft {

    background-color: rgb(71, 71, 71);
}

.introStyle .introImgDots .chosenImgIntroDot:nth-child(2).posmidt {

    background-color: rgb(71, 71, 71);
}

.introStyle .introImgDots .chosenImgIntroDot:nth-child(3).posright {

    background-color: rgb(71, 71, 71);
}